html{
  scroll-snap-type:y mandatory;
}

.app{
  height:100vh;
  background-color: black;
  display:grid;
  place-items:center;
}

.app__videos{
  position: relative;
  height:100vh;
  overflow: scroll;
  width:100%;
  max-width:500px;
  scroll-snap-type: y mandatory;
}

/* hide scrollbar for chrome ,safari and opera */
.app__videos::-webkit-scrollbar{
  display:none;
}

/* Hide scrollbar for IE, Edge and firefox */
.app__videos{
  -ms-overflow-style:none;  /*  IE and Edge */
  scrollbar-width:none;
}